<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Banco</title>

    <link rel="shortcut icon" href="./img/bank.svg" type="image/x-svg" />
    <!-- Familias tipograficas -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;800&display=swap"
      rel="stylesheet"
    />

    <!-- Normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />

    <!-- Cdn de fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="preloader show" id="preload">
      <div class="loader"></div>
    </div>

    <div id="app">
      <!-- Loby de la aplicacion -->
      <div class="loby" v-if="loby.visibility">
        <div class="loby-card">
          <header class="loby-card__header">
            <h1 class="loby-card__title">Mi Banco</h1>
          </header>
          <!-- Fin del header -->
          <div class="loby-card__content">
            <p class="loby-card__info">
              Para iniciar una partida escribe tu nombre y una contraseña
            </p>

            <div class="loby-card__form">
              <figure class="loby-card__fig">
                <img
                  src="./img/TioMacPato.png"
                  alt="Pato bonachon y tacaño"
                  class="loby-card__img"
                />
              </figure>

              <div class="loby-card__inputs">
                <input
                  type="text"
                  :class="['form__input', {error : loby.bankerNameState.hasError}]"
                  name="bankerName"
                  v-model.trim="loby.bankerName"
                  placeholder="Escribe tu nombre"
                  @blur="validateBankerName"
                />
                <span
                  :class="['alert', 'alert--danger', {show: loby.bankerNameState.hasError}]"
                  >{{loby.bankerNameState.message}}</span
                >
                <input
                  type="password"
                  :class="['form__input', {error: loby.passwordState.hasError}]"
                  name="bankerPassword"
                  v-model.trim="loby.password"
                  placeholder="Contraseña"
                  @blur="validateBankerPassword"
                />
                <span
                  :class="['alert', 'alert--danger', {show: loby.passwordState.hasError}]"
                  >{{loby.passwordState.message}}</span
                >
                <input
                  type="button"
                  value="Iniciar Partida"
                  :class="['btn', {'btn--late': lobyCorrect, 'btn--disable': !lobyCorrect}]"
                  :disabled="!lobyCorrect"
                  @click="startNewGame"
                />
              </div>
              <!--Fin del formulario-->
            </div>
            <!--Fin del loby__form-->
          </div>
          <!--Fin de content-->

          <footer class="loby-card__footer">
            <p class="copy">
              Creado por: <span class="text-bold">{{author}}</span>
            </p>
            <p class="copy">v-{{version}}</p>
          </footer>
        </div>
        <!--Fin de loby-card-->
      </div>
      <!-- Fin del loby de la aplicacion -->

      <div class="home" v-if="!loby.visibility">
        <!-- Header con la barra de avegacion -->
        <header class="header">
          <div class="main-nav">
            <img
              src="./img/bank.svg"
              alt="Logo de la aplicacion"
              class="main-nav__brand"
            />
            <nav class="main-nav__nav">
              <ul class="main-nav__list">
                <li class="main-nav__item">
                  <a href="#" class="main_nav__link main-nav__link--active">
                    <span class="main-nav__link__prepend">i</span>
                    <span class="main-nav__link__content">Link 1</span>
                  </a>
                </li>

                <li class="main-nav__item">
                  <a href="#" class="main_nav__link">
                    <span class="main-nav__link__prepend">i</span>
                    <span class="main-nav__link__content">Link 2</span>
                  </a>
                </li>

                <li class="main-nav__item">
                  <a href="#" class="main_nav__link main-nav__link--disabled">
                    <span class="main-nav__link__prepend">i</span>
                    <span class="main-nav__link__content">Link 3</span>
                  </a>
                </li>
              </ul>

              <button class="btn btn--danger">Reiniciar</button>
            </nav>
            <!--Fin de main-nav-nav-->

            <button class="main-nav__toggler">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!--Fin de main-nav-->
        </header>

        <div class="dashboard" v-show="dashBoard.visibility">
          <!-- Container con los parametros  generales -->
          <div class="container">
            <header class="container__header">
              <h1 class="container__title">Panel de control</h1>
              <p class="container__subtitle">
                Banquero: <span class="text-bold">{{bank.banker.name}}</span>
              </p>
            </header>
            <div class="container__content">
              <div class="dashboard__money">
                <!-- Dinero en la caja fuerte -->
                <div class="box-money">
                  <p class="box-money__title">Caja Fuerte</p>
                  <p class="box-money__money text-bold">
                    {{formatCurrency(moneyInSafe)}}
                  </p>
                </div>
                <!-- Dinero en cicrlulacion -->
                <div class="box-money">
                  <p class="box-money__title">Circulacion</p>
                  <p class="box-money__money text-bold">
                    {{formatCurrency(moneyInCirculation)}}
                  </p>
                </div>
                <!-- Dinero propio del banco -->
                <div class="box-money">
                  <p class="box-money__title">Capital</p>
                  <p class="box-money__money text-bold">
                    {{formatCurrency(bank.money)}}
                  </p>
                </div>
                <!-- Dinero correspondiente a los jugadores -->
                <div class="box-money">
                  <p class="box-money__title">
                    Jugadores ({{bank.players.length}})
                  </p>
                  <p class="box-money__money text-bold">
                    {{formatCurrency(moneyOfPlayers)}}
                  </p>
                </div>
              </div>
            </div>
            <footer class="container__actions">
              <button
                :class="['btn', {'btn--success' : bank.money >= 26400, 'btn--disable': bank.money < 26400}]"
                :disabled="bank.money < 26400"
                @click="modals.newPlayer.visible=true"
              >
                Nuevo Jugador
              </button>
            </footer>
          </div>
          <!-- Fin de container principal -->

          <div class="container">
            <header class="container__header">
              <h2 class="container__title">Otros</h2>
            </header>
            <div class="container__content">
              <button
                v-for="tab in dashBoard.tabs"
                :class="['tab-button', {active : dashBoard.currentTab === tab}]"
                @click="dashBoard.currentTab = tab"
              >
                {{tab}}
              </button>
              <!-- TARJETAS DE JUGADORES -->
              <div class="tab" v-show="dashBoard.currentTab === 'Jugadores'">
                <div class="players-cards">
                  <div
                    class="player-card"
                    v-for="player in bank.players"
                    :key="player.id"
                  >
                    <div class="player-card__name">{{player.name}}</div>
                    <div class="player-card__content">
                      <!-- Seccion del dinero -->
                      <div class="player-card__section">
                        <p class="player-card__money">
                          {{formatCurrency(player.money)}}
                        </p>
                      </div>
                      <!-- Seccion de estadisticas -->
                      <div class="player-card__section">
                        <p class="player-card__info">
                          Trans.:
                          <span class="text-bold"
                            >{{player.transacctions.length}}</span
                          >
                        </p>
                        <p class="player-card__info">
                          Premios:
                          <span class="text-bold">{{player.awardsCount}}</span>
                        </p>
                      </div>
                    </div>
                    <div class="player-card__actions">
                      <button
                        class="btn btn--success"
                        @click="modals.paySalary.show(player)"
                      >
                        Pagar Sueldo
                      </button>
                    </div>
                    <!-- <button class="player-card__delete">X</button> -->
                  </div>
                </div>
                <div class="tab__footer">
                  Total: <span class="text-bold">{{bank.players.length}}</span>
                </div>
              </div>

              <!-- Informacion de aduanas -->
              <div class="tab" v-show="dashBoard.currentTab === 'Aduanas'">
                <div class="dashboard-card">
                  <h2 class="dashboard-card__title">Departamento de Aduanas</h2>
                  <div class="dashboard-card__body">
                    <p class="dashboard-card__section">
                      Tierra de la frontera: <span class="text-bold">$0</span>
                    </p>
                    <p class="dashboard-card__section">
                      Tierra del futuro: <span class="text-bold">$0</span>
                    </p>
                    <p class="dashboard-card__section">
                      Tierra de la aventura: <span class="text-bold">$0</span>
                    </p>
                  </div>
                  <!-- Fin del body -->
                  <p class="dashboard-card__footer">
                    Dinero: <span class="text-bold">$0</span>
                  </p>
                </div>
                <!-- Fin de la tarjeta -->
              </div>

              <!-- Estadisticas generales -->
              <div class="tab" v-show="dashBoard.currentTab === 'Estadisticas'">
                <div class="dashboard-card">
                  <h2 class="dashboard-card__title">Estadisticas</h2>
                  <div class="dashboard-card__body">
                    <p class="dashboard-card__section">
                      Jugadores: <span class="text-bold">0</span>
                    </p>
                    <p class="dashboard-card__section">
                      El mas rico: <span class="text-bold">Jugador x</span>
                    </p>
                    <p class="dashboard-card__section">
                      El más premiado: <span class="text-bold">Jugador x</span>
                    </p>
                    <p class="dashboard-card__section">
                      El más afortunado:
                      <span class="text-bold">Jugador x</span>
                    </p>
                    <p
                      class="dashboard-card__section dashboard-card__section--bread"
                    >
                      Premios
                    </p>
                    <p class="dashboard-card__section">
                      Bambi (1): <span class="text-bold">$2500</span>
                    </p>
                    <p class="dashboard-card__section">
                      Daisy (1): <span class="text-bold">$2500</span>
                    </p>
                    <p class="dashboard-card__section">
                      Pinocho (1): <span class="text-bold">$2500</span>
                    </p>
                    <p class="dashboard-card__section">
                      Cenicienta (1): <span class="text-bold">$250.000</span>
                    </p>
                    <p class="dashboard-card__section">
                      Botín (1): <span class="text-bold">$250.000</span>
                    </p>
                  </div>
                  <!-- Fin del body -->
                  <p class="dashboard-card__footer">
                    Estadisticas poco relevantes hasta acabar el juego
                  </p>
                </div>
                <!-- Fin de la tarjeta -->
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de dashboard -->

        <!-- Tansferencia de efectivo -->
        <div class="transfer">
          <div class="container">
            <header class="container__header">
              <h1 class="container__title">Transferencia de Dinero</h1>
            </header>
            <div class="container__content">
              <!-- Remitente -->
              <label for="transferSender" class="form__label">Remitente</label>
              <select
                name="transferSender"
                id="transferSender"
                :class="['form__input', {error: transfer.senderState.hasError}]"
                v-model="transfer.senderID"
                @blur="validateSenderID"
              >
                <option value="" selected disabled
                  >Selecciona un remitente</option
                >
                <option
                  v-for="player in bank.players"
                  :value="player.id"
                  :key="player.id"
                  >{{player.name}}</option
                >
              </select>
              <span
                :class="['alert', 'alert--danger', {show: transfer.senderState.hasError}]"
                >{{transfer.senderState.message}}</span
              >

              <!-- Destinatario -->
              <label for="transferAddressed" class="form__label"
                >Destinatario</label
              >
              <select
                name="transferAddressed"
                id="transferAddressed"
                :class="['form__input', {error: transfer.addresseState.hasError}]"
                v-model="transfer.addressedID"
                @blur="validateAddressedID"
              >
                <option value="" disabled selected
                  >Selecciona un destinatario</option
                >
                <option
                  v-for="player in playersAdressed"
                  :value="player.id"
                  :key="player.id"
                  >{{player.name}}</option
                >
              </select>
              <span
                :class="['alert', 'alert--danger', {show: transfer.addresseState.hasError}]"
                >{{transfer.addresseState.message}}</span
              >

              <!-- Monto a transferir -->
              <label for="transferAmount" class="form__label text-center"
                >Monto a transferir</label
              >
              <input-money
                v-model="transfer.transferAmount"
                @blur="validateTransferAmount"
              ></input-money>
              <span
                :class="['alert', 'alert--danger', {show:transfer.transferAmountState.hasError}]"
                style="margin-top: -1em;"
                >{{transfer.transferAmountState.message}}</span
              >

              <span
                :class="['alert', 'alert--big', 'alert--success', {show:false}]"
                >Monto transferido</span
              >

              <button class="btn btn--success" @click="validateTransfer">
                Hacer Transferencia
              </button>
            </div>
          </div>
          <!-- Fin del container -->
        </div>

        <!-- Transacciones -->
        <div class="transactions">
          <div class="container">
            <div class="container__header">
              <h1 class="container__title">Transacciones</h1>
            </div>
            <div class="container__content">
              <!-- Seleccion del tipo de transaccion -->
              <label class="form__label">Tipo de transacción</label>
              <div class="form__group m-b">
                <!-- Deposito -->
                <div class="radio-group">
                  <input
                    type="radio"
                    name="transacctionType"
                    id="deposit"
                    class="form__radio"
                  />
                  <label for="deposit">Deposito</label>
                </div>
                <!-- Retiro -->
                <div class="radio-group">
                  <input
                    type="radio"
                    name="transacctionType"
                    id="whitdrawal"
                    class="form__radio"
                  />
                  <label for="whitdrawal">Retiro</label>
                </div>
              </div>

              <!-- Seleccion del titular -->
              <label for="transactionAcount" class="form__label"
                >Titular de la cuenta</label
              >
              <select
                name="transactionAcount"
                id="transactionAcount"
                class="form__input"
              >
                <option value="" selected disabled
                  >Selecciona un jugador</option
                >
                <option value="1">Jugador X</option>
                <option value="2">Jugador Y</option>
              </select>
              <span class="alert alert--danger show"
                >Se debe seleccionar al titular</span
              >

              <!-- Importe de la transaccion -->
              <label for="transactionAmount" class="form__label text-center"
                >Valor de la transacción</label
              >
              <input
                type="text"
                name="transactionAmount"
                id="transactionAmount"
                class="form__input text-right error"
                placeholder="$0"
              />
              <span class="alert alert--danger show"
                >Ingresa un valor valido</span
              >

              <span class="alert alert--big alert--danger show"
                >Fondos Insuficientes</span
              >
              <button class="btn btn--success">Realizar transaccion</button>
            </div>
          </div>
        </div>

        <!-- Compra y venta de activos -->
        <div class="sale-and-buy">
          <div class="container">
            <div class="container__header">
              <h1 class="container__title">Ventas y Compras</h1>
              <p class="container__subtitle">Se va a realizar una venta</p>
            </div>
            <div class="container__content">
              <!-- Definir el tipo de operacion -->
              <label class="form__label">Tipo de operacion</label>
              <div class="form__group m-b-1">
                <div class="radio-group">
                  <input
                    type="radio"
                    name="operationType"
                    id="sale"
                    class="radio__form"
                  />
                  <label for="sale">Venta</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="operationType"
                    id="buy"
                    class="radio__form"
                  />
                  <label for="buy">Compra</label>
                </div>
              </div>

              <!-- Seleccion del titular -->
              <label for="acountOfTransaction" class="form__label"
                >Comprador / Vendedor</label
              >
              <select
                name="acountOfTransaction"
                id="acountOfTransaction"
                class="form__input"
              >
                <option value="" selected disabled
                  >Selecciona al comprador / Vendedor</option
                >
              </select>
              <span class="alert alert--danger show"
                >Se debe seleccionar a un titular</span
              >

              <!-- Seleccion del tipo de activo -->
              <label class="form__label"
                >Selecciona el activo a vender / Comprar</label
              >
              <div class="form__group form__group--evenly">
                <div class="radio-group">
                  <input
                    type="radio"
                    name="assetType"
                    id="assetTitle"
                    class="form__radio"
                  />
                  <label for="assetTitle">Titulo</label>
                </div>
                <div class="radio-group m-b">
                  <input
                    type="radio"
                    name="assetType"
                    id="assetLine"
                    class="form__radio"
                  />
                  <label for="assetLine">Linea</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="assetType"
                    id="assetCustomPost"
                    class="form__radio"
                  />
                  <label for="assetCustomPost">Paso</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="assetType"
                    id="assetHouse"
                    class="form__radio"
                  />
                  <label for="assetHouse">Casa</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="assetType"
                    id="assetCastle"
                    class="form__radio"
                  />
                  <label for="assetCastle">Castillo</label>
                </div>
              </div>

              <!-- Valor del activo a transaccionar -->
              <label for="assetAmount" class="form__label text-center"
                >Valor del activo</label
              >
              <input
                type="text"
                name="assetAmount"
                id="assetAmount"
                placeholder="$0"
                class="form__input text-right"
              />
              <span class="alert alert--danger show"
                >Ingresa un valor valido</span
              >

              <span class="alert alert--big alert--success show"
                >Operacion Exitosa</span
              >

              <button class="btn btn--success">Hacer Venta / Compra</button>
            </div>
          </div>
        </div>

        <!-- Entrega de premios -->
        <div class="awards">
          <div class="container">
            <div class="container__header">
              <h1 class="container__title">Entrega de premios</h1>
            </div>
            <div class="container__content">
              <!-- Seleccion del jugador -->
              <label for="acountAward" class="form__label">Jugador</label>
              <select name="acountAward" id="acountAward" class="form__input">
                <option value="" selected disabled
                  >Selecciona a un jugador</option
                >
              </select>
              <span class="alert alert--danger show"
                >Se debe seleccionar un jugador</span
              >

              <!-- Seleccion del premio -->
              <label class="form__label">Selecciona el premio</label>
              <div class="form__group form__group--evenly m-b-1">
                <div class="radio-group m-b">
                  <input
                    type="radio"
                    name="awardType"
                    id="bambiAward"
                    class="form__radio"
                  />
                  <label for="bambiAward">Bambi</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="awardType"
                    id="daisyAward"
                    class="form__radio"
                  />
                  <label for="daisyAward">Daisy</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="awardType"
                    id="pinocchioAward"
                    class="form__radio"
                  />
                  <label for="pinocchioAward">Pinocho</label>
                </div>
                <div class="radio-group">
                  <input
                    type="radio"
                    name="awardType"
                    id="cinderellaAward"
                    class="form__radio"
                  />
                  <label for="cinderellaAward">Cenicienta</label>
                </div>
              </div>

              <span class="alert alert--big alert--success show"
                >Premio entregado</span
              >
              <button class="btn btn--success">Entregar premio</button>
            </div>
          </div>
        </div>

        <!-- Cobro de impuestos -->
        <div class="taxes">
          <div class="container">
            <div class="container__header">
              <h1 class="container__title">Impuestos</h1>
            </div>
            <div class="container__content">
              <!-- Seleccion del departamento de impuesto -->
              <label for="taxType" class="form__label"
                >Departamento de impuesto</label
              >
              <select name="taxType" id="taxType" class="form__input">
                <option value="" selected disabled
                  >Selecciona al departamento</option
                >
                <option value="1">Banco</option>
                <option value="1">Tierra de la Fantasía</option>
                <option value="1">Tierra de la Aventura</option>
                <option value="1">Tierra de la frontera</option>
              </select>

              <!-- Ingresa el valor del impuesto -->
              <label for="taxAmount" class="form__label text-center"
                >Valor a cobrar</label
              >
              <input
                type="text"
                name="taxAmount"
                id="taxAmount"
                class="form__input text-right"
                placeholder="$0"
              />
              <span class="alert alert--danger show"
                >Ingresa un valor valido</span
              >

              <span class="alert alert--big alert--danger show"
                >Saldo Insuficiente</span
              >
              <button class="btn btn--success">Cobrar Impuesto</button>
            </div>
          </div>
        </div>

        <div class="loot">
          <div class="container">
            <div class="container__header">
              <h1 class="container__title">Cobrar Botín</h1>
            </div>
            <div class="container__content">
              <!-- Seleccion del departamento de impuesto -->
              <label for="lootType" class="form__label"
                >Departamento a saquear</label
              >
              <select name="lootType" id="lootType" class="form__input">
                <option value="" selected disabled
                  >Selecciona al departamento</option
                >
                <option value="1">Banco</option>
                <option value="1">Tierra de la Fantasía</option>
                <option value="1">Tierra de la Aventura</option>
                <option value="1">Tierra de la frontera</option>
              </select>

              <!-- Ingresa el valor del impuesto -->
              <label for="lootAmount" class="form__label text-center"
                >Valor a saquear</label
              >
              <input
                type="text"
                name="lootAmount"
                id="lootAmount"
                class="form__input text-right"
                placeholder="$0"
              />
              <span class="alert alert--danger show"
                >Ingresa un valor valido</span
              >

              <span class="alert alert--big alert--success show"
                >Saqueo Exitoso</span
              >
              <button class="btn btn--success">Saquear</button>
            </div>
          </div>
        </div>

        <!-- REGION PARA VENTANAS MODALES -->
        <!-- Modal para nuevos usuarios -->
        <div
          :class="['modal', {'show' : modals.newPlayer.visible}]"
          id="newPlayerModal"
          @click.self="modals.newPlayer.hidden()"
        >
          <div class="modal__content">
            <span class="modal__close" @click="modals.newPlayer.hidden()"
              ><i class="fas fa-times-circle"></i
            ></span>
            <h2 class="modal__title">Nuevo Jugador</h2>
            <input
              type="text"
              name="newPlayer"
              id="newPlayer"
              class="form__input"
              v-model.trim="modals.newPlayer.playerName"
              @blur="validatePlayerName"
              placeholder="Escribe el nombre"
            />
            <span
              :class="['alert', 'alert--danger', {show: modals.newPlayer.playerNameState.hasError}]"
              >{{modals.newPlayer.playerNameState.message}}</span
            >
            <input
              type="password"
              name="newPlayerPassword"
              id="newPlayerPassword"
              class="form__input"
              v-model.trim="modals.newPlayer.password"
              @blur="validatePlayerPassword"
              placeholder="Contraseña"
            />
            <span
              :class="['alert', 'alert--danger', {show: modals.newPlayer.passwordState.hasError}]"
              >{{modals.newPlayer.passwordState.message}}</span
            >
            <button
              class="btn"
              :class="{'btn--success' : validateNewPlayer, 'btn--disabled' : !validateNewPlayer}"
              @click="createNewPlayer"
              :disabled="!validateNewPlayer"
            >
              Registrar jugador
            </button>
          </div>
        </div>

        <!-- Modal para pagar sueldo -->
        <div
          :class="['modal', {show: modals.paySalary.visible}]"
          @click.self="modals.paySalary.hidden()"
        >
          <div class="modal__content">
            <div class="modal__close" @click="modals.paySalary.hidden()">
              <i class="fas fa-times-circle"></i>
            </div>
            <h2 class="modal__title">Pago de sueldo</h2>
            <p class="modal__info">
              Se va a pagar un sueldo por valor de
              <span class="text-bold">$2.000</span> al jugador
              <span class="text-bold"
                >{{modals.paySalary.player ? modals.paySalary.player.name :
                ''}}</span
              >
            </p>
            <div class="modal__actions">
              <button
                class="btn btn--success"
                :disabled="typeof modals.paySalary.player === 'null'"
                @click="paySalary"
              >
                Pagar
              </button>
            </div>
          </div>
        </div>

        <div :class="['modal', {show: modals.transfer.visible}]" @click.self="modals.transfer.hidden()">
          <div class="modal__content">
            <div class="modal__close" @click="modals.transfer.hidden()">
              <i class="fas fa-times-circle"></i>
            </div>
            <h2 class="modal__title">Transferencia</h2>
            <div v-show="!modals.transfer.showAlert">
              <p class="modal__info">
                Se va a realizar una transferencia de la cuenta de
                <span class="text-bold">{{modals.transfer.senderName}}</span>
                hacía la cuenta de
                <span class="text-bold">{{modals.transfer.addressedName}}</span>
                por valor de
                <span class="text-bold"
                  >{{formatCurrency(modals.transfer.amount)}}</span
                >
              </p>
  
              <input
                type="password"
                name="password"
                placeholder="Ingresa la contraseña"
                class="form__input"
                v-model="modals.transfer.senderPassword"
              />
            </div>

            <span
              :class="['alert', 'alert--big', {'alert--success' : !modals.transfer.processState.hasError, 'alert--danger': modals.transfer.processState.hasError, show: modals.transfer.showAlert}]"
              >{{modals.transfer.processState.hasError ? modals.transfer.processState.message :  'Transferencia realizada'}}</span
            >
            <button class="btn btn--success" @click="makeTransfer" :disabled="modals.transfer.senderPassword.length <= 3">Hacer Transferencia</button>
          </div>
        </div>

        <!-- Modal para cofirmar la transferencia -->
      </div>

      <!-- Icons made by <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
    </div>

    <!-- Librería de Vue.js para desarrolladores -->
    <script src="./js/vue.js"></script>

    <!-- Codigo personalizado -->
    <script src="./js/bank.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
